# Data Manipulation Demo

In [2]:
import numpy as np
import pandas as pd

**Read the csv file 'assault.csv'**

In [3]:
assault_df = pd.read_csv('./dataset/assault.csv')

**Display the Dataframe to study it**

In [4]:
assault_df

,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type
0,514102,Auckland Central West,550,15900,4,Central Auckland Zone,Main urban area
1,573101,Willis Street-Cambridge Terrace,447,8300,20,Wellington Zone,Main urban area
2,529700,Hamilton Central,380,3170,6,Hamilton Zone,Main urban area
3,514103,Auckland Central East,375,13250,4,Central Auckland Zone,Main urban area
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area
5,514101,Auckland Harbourside,253,5680,4,Central Auckland Zone,Main urban area
6,524604,Manukau Central,192,900,5,Southern Auckland Zone,Main urban area
7,562800,Palmerston North Central,190,3060,16,Palmerston North,Main urban area
8,540410,Kuirau,168,1290,10,Rotorua,Main urban area
9,538201,Tauranga Central,167,2270,9,Tauranga,Main urban area
10,603100,Stuart St-Frederick St,154,3360,23,Dunedin,Main urban area
11,521901,Otahuhu West,148,5400,4,Central Auckland Zone,Main urban area
12,582500,Trafalgar,138,550,21,Nelson,Main urban area
13,548200,Hastings Central,130,2970,13,Hastings Zone,Main urban area
14,544600,Gisborne Central,128,3380,11,Gisborne,Main urban area
15,587821,Paparua,121,890,22,Christchurch,Main urban area
16,609302,Queenstown Hill,113,4100,117,Queenstown,Secondary urban area
17,522202,Papatoetoe Central,109,5120,5,Southern Auckland Zone,Main urban area
18,603000,High St-Stuart St,107,2540,23,Dunedin,Main urban area
19,569100,Hutt Central,105,4070,18,Lower Hutt Zone,Main urban area
20,573000,Lambton,104,6000,20,Wellington Zone,Main urban area
21,524602,Wiri,103,4390,5,Southern Auckland Zone,Main urban area
22,551800,New Plymouth Central,102,680,14,New Plymouth,Main urban area
23,514200,Newton,101,2170,4,Central Auckland Zone,Main urban area
24,570800,Porirua Central,96,410,19,Porirua Zone,Main urban area
25,511303,Lynnmall,94,2610,3,Western Auckland Zone,Main urban area
26,581230,Blenheim Central,91,2790,26,Blenheim,Main urban area
27,525910,Pukekohe North,91,9980,101,Pukekohe,Secondary urban area
28,609304,Queenstown Bay,90,2360,117,Queenstown,Secondary urban area
29,541720,Taupo Central,90,3900,103,Taupo,Secondary urban area
...,...,...,...,...,...,...,...
1990,567902,Mangaroa,0,1750,502,Rural (Incl.some Off Shore Islands),Rural area
1991,602412,Wingatui,0,1780,23,Dunedin,Main urban area
1992,586801,Ashley Gorge,0,1830,502,Rural (Incl.some Off Shore Islands),Rural area
1993,555300,Blueskin,0,1840,15,Wanganui,Main urban area
1994,513420,Herald,0,1860,3,Western Auckland Zone,Main urban area
1995,505605,Kumeu West,0,1880,3,Western Auckland Zone,Main urban area
1996,603710,Maori Hill,0,1970,23,Dunedin,Main urban area
1997,587844,Westmorland,0,1990,22,Christchurch,Main urban area
1998,522603,Bleakhouse,0,2070,5,Southern Auckland Zone,Main urban area
1999,586122,Lehmans,0,2200,116,Rangiora,Secondary urban area
2000,551024,Barrett,0,2240,14,New Plymouth,Main urban area
2001,523201,Shelly Park,0,2310,5,Southern Auckland Zone,Main urban area
2002,597507,Rolleston North West,0,2330,300,Rolleston,Minor urban area
2003,597510,Rolleston South West,0,2330,300,Rolleston,Minor urban area
2004,585807,Loburn,0,2390,502,Rural (Incl.some Off Shore Islands),Rural area
2005,509500,Stanley Bay,0,2440,2,Northern Auckland Zone,Main urban area
2006,551111,Lepperton,0,2510,502,Rural (Incl.some Off Shore Islands),Rural area
2007,512700,Waima,0,2600,3,Western Auckland Zone,Main urban area
2008,512801,Laingholm,0,2620,3,Western Auckland Zone,Main urban area
2009,507500,Campbells Bay,0,2630,2,Northern Auckland Zone,Main urban area
2010,574200,Khandallah Park-Broadmeadows,0,2960,20,Wellington Zone,Main urban area
2011,610040,Hokonui,0,3090,502,Rural (Incl.some Off Shore Islands),Rural area
2012,586603,Mandeville,0,3160,502,Rural (Incl.some Off Shore Islands),Rural area
2013,574401,Awarua,0,3310,20,Wellington Zone,Main urban area
2014,573514,Churton Park South,0,3440,20,Wellington Zone,Main urban area
2015,506653,Riverhead,0,3510,502,Rural (Incl.some Off Shore Islands),Rural area
2016,610601,Grasmere,0,3590,24,Invercargill,Main urban area
2017,536513,Bethlehem East,0,3590,9,Tauranga,Main urban area
2018,574302,Te Kainga,0,4020,20,Wellington Zone,Main urban area
2019,527007,Horsham Downs,0,5440,6,Hamilton Zone,Main urban area

**Only display the first 20 lines of the dataframe**

In [5]:
assault_df.head(20)

,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type
0,514102,Auckland Central West,550,15900,4,Central Auckland Zone,Main urban area
1,573101,Willis Street-Cambridge Terrace,447,8300,20,Wellington Zone,Main urban area
2,529700,Hamilton Central,380,3170,6,Hamilton Zone,Main urban area
3,514103,Auckland Central East,375,13250,4,Central Auckland Zone,Main urban area
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area
5,514101,Auckland Harbourside,253,5680,4,Central Auckland Zone,Main urban area
6,524604,Manukau Central,192,900,5,Southern Auckland Zone,Main urban area
7,562800,Palmerston North Central,190,3060,16,Palmerston North,Main urban area
8,540410,Kuirau,168,1290,10,Rotorua,Main urban area
9,538201,Tauranga Central,167,2270,9,Tauranga,Main urban area
10,603100,Stuart St-Frederick St,154,3360,23,Dunedin,Main urban area
11,521901,Otahuhu West,148,5400,4,Central Auckland Zone,Main urban area
12,582500,Trafalgar,138,550,21,Nelson,Main urban area
13,548200,Hastings Central,130,2970,13,Hastings Zone,Main urban area
14,544600,Gisborne Central,128,3380,11,Gisborne,Main urban area
15,587821,Paparua,121,890,22,Christchurch,Main urban area
16,609302,Queenstown Hill,113,4100,117,Queenstown,Secondary urban area
17,522202,Papatoetoe Central,109,5120,5,Southern Auckland Zone,Main urban area
18,603000,High St-Stuart St,107,2540,23,Dunedin,Main urban area
19,569100,Hutt Central,105,4070,18,Lower Hutt Zone,Main urban area

**What about Display the last 10 rows?**

In [6]:
assault_df.tail(10)

,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type
2010,574200,Khandallah Park-Broadmeadows,0,2960,20,Wellington Zone,Main urban area
2011,610040,Hokonui,0,3090,502,Rural (Incl.some Off Shore Islands),Rural area
2012,586603,Mandeville,0,3160,502,Rural (Incl.some Off Shore Islands),Rural area
2013,574401,Awarua,0,3310,20,Wellington Zone,Main urban area
2014,573514,Churton Park South,0,3440,20,Wellington Zone,Main urban area
2015,506653,Riverhead,0,3510,502,Rural (Incl.some Off Shore Islands),Rural area
2016,610601,Grasmere,0,3590,24,Invercargill,Main urban area
2017,536513,Bethlehem East,0,3590,9,Tauranga,Main urban area
2018,574302,Te Kainga,0,4020,20,Wellington Zone,Main urban area
2019,527007,Horsham Downs,0,5440,6,Hamilton Zone,Main urban area

**Get the list of all the column names**

In [7]:
assault_df.columns

Index(['Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type'],
      dtype='object')

**The column names are really long, let's replace them with shorter names**

In [8]:
assault_df.rename(columns={'Victimisations_calendar_year_2015': 'Victimisations', 
                            'Population_mid_point_2015': 'Population'}, inplace=True)

In [9]:
assault_df.head()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type
0,514102,Auckland Central West,550,15900,4,Central Auckland Zone,Main urban area
1,573101,Willis Street-Cambridge Terrace,447,8300,20,Wellington Zone,Main urban area
2,529700,Hamilton Central,380,3170,6,Hamilton Zone,Main urban area
3,514103,Auckland Central East,375,13250,4,Central Auckland Zone,Main urban area
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area

**Create a column with the rate of victimisations**

But first, let's remove all the rows with 0 population.... WILL HAVE A PROBLEM!

In [10]:
assault_df = assault_df[assault_df['Population'] != 0]

In [11]:
assault_df['Rate'] = assault_df['Victimisations'] / assault_df['Population'] * 100

/Users/TiffanyWang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
assault_df.head()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate
0,514102,Auckland Central West,550,15900,4,Central Auckland Zone,Main urban area,3.459119
1,573101,Willis Street-Cambridge Terrace,447,8300,20,Wellington Zone,Main urban area,5.385542
2,529700,Hamilton Central,380,3170,6,Hamilton Zone,Main urban area,11.987382
3,514103,Auckland Central East,375,13250,4,Central Auckland Zone,Main urban area,2.830189
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area,53.508772

**Sort the rows in ascending victimisation rate order**

In [13]:
assault_df.sort_values(by='Rate', inplace=True)

/Users/TiffanyWang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
assault_df.head()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate
2019,527007,Horsham Downs,0,5440,6,Hamilton Zone,Main urban area,0.0
1819,541347,Motuoapa,0,250,502,Rural (Incl.some Off Shore Islands),Rural area,0.0
1820,521115,Opuawhanga,0,250,101,Pukekohe,Secondary urban area,0.0
1821,526106,Pukeoware,0,250,215,Waiuku,Minor urban area,0.0
1822,609014,Kingston South,0,260,502,Rural (Incl.some Off Shore Islands),Rural area,0.0

In [15]:
assault_df.tail()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate
691,602800,Harbourside,8,30,23,Dunedin,Main urban area,26.666667
31,503100,Whangarei Central,87,280,1,Whangarei,Main urban area,31.071429
69,521902,Middlemore,53,110,5,Southern Auckland Zone,Main urban area,48.181818
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area,53.508772
261,523112,Highbrook,23,40,5,Southern Auckland Zone,Main urban area,57.500000

**Remove the columns with NaN (does not exist) rate.**

In [16]:
assault_df.dropna(subset=['Rate'], inplace=True)

/Users/TiffanyWang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
assault_df.tail()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate
691,602800,Harbourside,8,30,23,Dunedin,Main urban area,26.666667
31,503100,Whangarei Central,87,280,1,Whangarei,Main urban area,31.071429
69,521902,Middlemore,53,110,5,Southern Auckland Zone,Main urban area,48.181818
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area,53.508772
261,523112,Highbrook,23,40,5,Southern Auckland Zone,Main urban area,57.500000

**Create a safe / dangerous label based on the Victimisation rate**

In [18]:
assault_df['Safe_Label'] = assault_df['Rate'] < 20

/Users/TiffanyWang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
assault_df.head()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate,Safe_Label
2019,527007,Horsham Downs,0,5440,6,Hamilton Zone,Main urban area,0.0,True
1819,541347,Motuoapa,0,250,502,Rural (Incl.some Off Shore Islands),Rural area,0.0,True
1820,521115,Opuawhanga,0,250,101,Pukekohe,Secondary urban area,0.0,True
1821,526106,Pukeoware,0,250,215,Waiuku,Minor urban area,0.0,True
1822,609014,Kingston South,0,260,502,Rural (Incl.some Off Shore Islands),Rural area,0.0,True

In [20]:
assault_df.tail()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate,Safe_Label
691,602800,Harbourside,8,30,23,Dunedin,Main urban area,26.666667,False
31,503100,Whangarei Central,87,280,1,Whangarei,Main urban area,31.071429,False
69,521902,Middlemore,53,110,5,Southern Auckland Zone,Main urban area,48.181818,False
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area,53.508772,False
261,523112,Highbrook,23,40,5,Southern Auckland Zone,Main urban area,57.500000,False

**List all the rows that are considered 'safe'**

In [21]:
safe_df = assault_df[assault_df['Safe_Label'] == True]

In [22]:
assault_df.tail()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate,Safe_Label
691,602800,Harbourside,8,30,23,Dunedin,Main urban area,26.666667,False
31,503100,Whangarei Central,87,280,1,Whangarei,Main urban area,31.071429,False
69,521902,Middlemore,53,110,5,Southern Auckland Zone,Main urban area,48.181818,False
4,591500,Cathedral Square,305,570,22,Christchurch,Main urban area,53.508772,False
261,523112,Highbrook,23,40,5,Southern Auckland Zone,Main urban area,57.500000,False

In [23]:
safe_df.tail()

,Area_unit_2013_code,Area_unit_2013_label,Victimisations,Population,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Rate,Safe_Label
974,538202,Sulphur Point,4,30,9,Tauranga,Main urban area,13.333333,True
15,587821,Paparua,121,890,22,Christchurch,Main urban area,13.595506,True
747,503900,Port-Limeburners,7,50,1,Whangarei,Main urban area,14.000000,True
22,551800,New Plymouth Central,102,680,14,New Plymouth,Main urban area,15.000000,True
67,567100,Upper Hutt Central,54,330,17,Upper Hutt Zone,Main urban area,16.363636,True

**Save the dataframe in a .csv file for future use!**

In [24]:
safe_df.to_csv('assault_changed.csv')